# Python
__pycache__/
*.pyc
*.pyo
.venv/
build/
dist/
*.egg-info/

# Project
data/*
!data/.gitkeep
!data/README.md
*.faiss
*.parquet
.streamlit/

# Env
.env

# Models
*.pt
yolov8*.pt

# OS
.DS_Store

# IDE
.vscode/
.idea/
